* {
  font-family: "Noto Sans Japanese", sans-serif, "zeitung";
  box-sizing: border-box;
  color: #3a3a3a;
  letter-spacing: 1px;
  line-height: 30px;
}
a,
li,
p,
dt,
dd {
  text-decoration: none;
  list-style: none;
  font-size: 14px;
}
.section-title {
  font-size: 42px;
  padding-bottom: 40px;
}
.container {
  padding: 0 80px 0 160px;
}
button {
  background-color: #e18b9c;
  border: none;
  padding: 5px 50px;
  border-radius: 30px;
  color: white;
  transition: 0.3s;
}
button:hover {
  box-shadow: 0 1px 1px white;
  transform: translate(0, -5px);
}
.underline {
  border-bottom: 1px solid #3a3a3a;
  display: inline-block;
  position: relative;
  overflow: hidden;
}
.underline:after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #3a3a3a;
  transform: translate(-100%, 0);
  border-bottom: 1px solid currentColor;
  transition: transform cubic-bezier(0.215, 0.61, 0.355, 1)0.3s;
  /* transform-origin: 0 0; */
  content: "";
}
.underline:hover:after {
  transform: translate(0,0);
  /* transform: scaleX(0); */
  transform-origin: 100% 0;
}

/* header */

header {
  background-color: #f8d65a;
  display: flex;
  flex-flow: column;
  position: fixed;
  top: 0;
  width: 80px;
  z-index: 7;
}
.header-nav {
  display: block;
  height: 100vh;
}

.nav-list {
  font-weight: bold;
  text-align: center;
}
.nav-list a {
  font-size: 12px;
}
.list-item {
  border-bottom: 2px dotted black;
  padding: 35px 0;
}
.snoopy-icon {
  margin: 0 auto;
  display: block;
}
.menu_ticket {
  height: 300px;
  padding: 50px 0;
}
.fa-ticket-alt {
  transform: rotate(45);
}
.sns {
  height: 100px;
  cursor: pointer;
}
.en {
  padding: 20px 0;
}

/* menu */

.menu {
  height: 20px;
  cursor: pointer;
  position: relative;
  width: 20px;
}

.menu_line-top,
.menu_line-middle,
.menu_line-bottom {
  display: inline-block;
  width: 100%;
  height: 2px;
  background-color: #3a3a3a;
  position: absolute;
  transition: 0.5s;
}

.nav-hamburger {
  position: absolute;
  height: 100vh;
  width: 100%;
  left: -100%;
  background: #3a3a3a;
  transition: 0.4s;
  z-index: 5;
}
.nav-hamburger ul {
  /* height: 90%; */
  display: grid;
  grid-template:
    "left right"
    "left right"
    "left right"
    "left right"
    "left right"
    "left right"
  ;
}
.nav-left {
  grid-area: left;
}
.nav-right {
  grid-area: right;
}

.nav-hamburger .section-title,
.nav-hamburger .section-subtitle {
  color: white;
}
.nav-hamburger .section-title {
  font-size: 30px;
  padding-bottom: 0;
}
.nav-hamburger .section-subtitle {
  font-weight: bold;
}

.menu_line-top {
  top: 0;
}
.menu_line-middle {
  top: 8px;
}
.menu_line-bottom {
  bottom: 0;
}
.menu span:nth-of-type(1) {
  top: 14px;
  transform: rotate(45deg);
}
.menu span:nth-of-type(2) {
  opacity: 0;
}
.menu span:nth-of-type(3) {
  top: 14px;
  transform: rotate(-45deg);
}
.in {
  /* 左から右に移動させる */
  transform: translateX(100%);
}

/* mainvisual */

.mainvisual {
  height: 100vh;
  padding-top: 168px;
  background-color: #f6f5f3;
}
.mainvisual img {
  display: block;
  margin: 0 auto;
  width: 220px;
}

/* シュルツさん */

.new {
  position: fixed;
  z-index: 3;
  bottom: 30px;
  right: 30px;
  /* box-shadow: 5px 10px 0 0 black; */
}
.new img {
  width: 180px;
}

/* info */

.info {
  display: block;
  width: 100%;
}
.info-item {
  display: flex;
  padding-left: 160px;
  height: 60px;
  align-items: center;
  color: white;
  font-size: 13px;
}
.info-green {
  background-color: #519b60;
}
.info-black {
  background-color: #444;
}
.info-text {
  color: white;
}
.info-text-left {
  width: 15%;
  color: #ccc;
}
.info-text-right {
  width: 85%;
}

/* news */

.news {
  padding-top: 110px;
  padding-bottom: 110px;
}
.news-dl {
  display: flex;
  flex-wrap: wrap;
}
.news-dt,
.news-dd {
  padding: 20px 0;
  border-top: 0.5px solid #f6f5f3;
}
.news-dt:last-child,
.news-dd:last-child {
  border-bottom: 0.5px solid #f6f5f3;
}
.news-dt {
  width: 15%;
}
.news-dd {
  width: 85%;
}

/* contents */

/* contents 常時 */

.contents {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-bottom: 105px;
}
.content {
  /* display: block; */
  position: relative;
  margin-bottom: 30px;
  width: 350px;
  height: 350px;
  border-radius: 30px;
  box-shadow: inset 0 0 00px rgba(0, 0, 0, 0.3),
    inset 0 0 200px rgba(0, 0, 0, 0.4);
  /* box-shadow: inset 0px -35px 77px -13px rgba(0, 0, 0, 0.3) ; */
}
.content img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 30px;
}
.content-texts {
  display: block;
  position: absolute;
  bottom: 20%;
  left: 10%;
  opacity: 1;
}
.content-title {
  color: white;
  font-size: 32px;
}
.content-text {
  display: inline;
  color: white;
  font-size: 12px;
  font-weight: bold;
}
.content-span {
  font-size: 32px;
  color: #e60020;
  font-weight: bold;
}

/* contents画像 */

.content-gallery {
  background: url("../img/img_contents_gallery_mb.jpg");
}
.content-online_museum {
  background: url("../img/img_contents_online_mb.jpg");
}
.content-store {
  background: url("../img/img_contents_store_mb.jpg");
}
.content-cafe {
  background: url("../img/img_contents_cafe_mb_2.jpg") center;
}
.content-workshop {
  background: url("../img/img_contents_workshop_mb.jpg") no-repeat;
}
.content-finding {
  background: url("../img/img_contents_app_mb.jpg") no-repeat;
}

/* contents hover時 */

.hover-mask {
  display: block;
  max-width: 350px;
  width: 80%;
  position: absolute;
  bottom: 15%;
  left: 10%;
  border-radius: 30px;
  opacity: 0;
}
.hover-mask-title,
.hover-mask-content {
  color: white;
  line-height: 1.5;
}
.hover-mask-title {
  font-size: 18px;
  padding-bottom: 20px;
}
.content:hover {
  background-color: #519b60;
  border-radius: 30px;
  transition: all 0.5s ease;
  background-image: none;
  /* transform: scale(1.1); */
}
.content-texts:hover {
  opacity: 0;
}
.hover-mask:hover {
  opacity: 1;
}



/* to stick img of map */

.ticket_access {
  position: relative;
  padding-bottom: 105px;
}

/* ticket */

.ticket {
  padding: 100px 80px 200px 160px;
  background-color: #f6f5f3;
}
.ticket-gray {
  color: gray;
  font-size: 14px;
}
.ticket_shaped_container {
  background: white;
  display: flex;
  padding: 50px;
  border-radius: 30px;
}
.ticket-left {
  width: 30%;
}
.left {
  display: flex;
  justify-content: space-between;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
}
.ticket-right {
  width: 70%;
}

/* access */

.access {
  padding-top: 485px;
  display: flex;
}
.access img {
  position: absolute;
  top: 35%;
  left: 15%;
}
.access-left {
  width: 40%;
}
.access-right {
  width: 60%;
}
.access-dl {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 30px;
}
.access-dt {
  font-weight: bold;
  width: 20%;
}
.access-dd {
  width: 80%;
}
.access-link {
  color: #e18b9c;
  border-bottom: 1px solid #e18b9c;
}
.button-google_map {
  background-color: #e18b9c;
  color: white;
  display: inline-block;
  width: 170px;
  height: 170px;
  border-radius: 50%;
  text-align: center;
  line-height: 150px;
  align-items: center;
  position: absolute;
  top: 950px;
  left: 1100px;
}

/* peppermint patty */

.scroll-top {
  position: fixed;
  width: 110px;
  right: -25px;
  bottom: 200px;
  cursor: pointer;
  /* opacity: 1;
  transition-duration: 0.5s; */
}
.scroll-top.show {
  opacity: 0.6;
  transform: none;
}
.scroll-top img {
  position: relative;
  display: block;
  width: 110px;
}
.scroll-top p {
  font-weight: bold;
  position: absolute;
  font-size: 12px;
  top: 0;
}

/* footer */

.footer {
  background-color: #f6f5f3;
  font-size: 12px;
  padding-top: 65px;
  padding-bottom: 70px;
}
.footer ul {
  display: flex;
  flex-wrap: wrap;
}
.footer li {
  margin-right: 30px;
}
small {
  font-size: 10px;
  color: #444;
}
