/* 共通 */
* {
  font-family: sans-serif, "zeitung";
  box-sizing: border-box;
  color: #3a3a3a;
  letter-spacing: 1px;
  line-height: 30px;
}
a,
li,
p,
dt,
dd {
  text-decoration: none;
  list-style: none;
  font-size: 15px;
}
.section-title {
  font-size: 42px;
  padding-bottom: 40px;
}
.container {
  padding: 0 80px 0 160px;
}
button {
  background-color: #e18b9c;
  border: none;
  padding: 5px 50px;
  border-radius: 30px;
  color: white;
  transition: 0.3s;
}
button:hover {
  box-shadow: 0 1px 1px white;
  transform: translate(0, -5px);
}
.underline {
  /* padding-bottom: 7px; */
  border-bottom: 1px solid #3a3a3a;
}

/* header */

header {
  background-color: #f8d65a;
  display: flex;
  flex-flow: column;
  position: fixed;
  top: 0;
  z-index: 7;
  width: 80px;
}
header nav {
  display: block;
  height: 100vh;
  margin: 0 auto;
  /* width: 80%; */
}

.nav-list {
  font-size: 14px;
  font-weight: bold;
}
.snoopy-icon {
  margin: 0 auto;
  display: block;
  padding: 35px 0;
  border-bottom: 1px dashed black;
}

/* menu */

.menu {
  display: inline-block;
  width: 20px;
  height: 20px;
  cursor: pointer;
  position: relative;
}

.menu_line-top,
.menu_line-middle,
.menu_line-bottom {
  display: inline-block;
  width: 100%;
  height: 2px;
  background-color: #3a3a3a;
  position: absolute;sss
  /* top: 60px; */
  transition: 0.5s;
  z-index: 2;
}

.nav-hamburger {
  /* position: absolute; */
  display: none;
  height: 100vh;
  width: 100vw;
  left: -100%;
  background: #3a3a3a;
  transition: 0.5s;
  /* display: flex; */
}
.nav-hamburger .section-title,
.nav-hamburger .section-subtitle {
  color: white;
}
/* edit hamburger */
.menu_line-top {
  top: 0;
}
.menu_line-middle {
  top: 8px;
}
.menu_line-bottom {
  bottom: 0;
}
.menu span:nth-of-type(1) {
  top: 14px;
  transform: rotate(45deg);
}
.menu span:nth-of-type(2) {
  opacity: 0;
}
.menu span:nth-of-type(3) {
  top: 14px;
  transform: rotate(-45deg);
}
.in {
  /* 左から右に移動させる */
  transform: translateX(100%);
}

/* mainvisual */

.mainvisual {
  height: 100vh;
  padding-top: 15vh;
  background-color: #f6f5f3;
}
.mainvisual img {
  display: block;
  margin: 0 auto;
  width: 220px;
}

/* info */

.info {
  display: block;
  width: 100vw;
}
.info-item {
  display: flex;
  padding-left: 160px;
  height: 60px;
  align-items: center;
  color: white;
  font-size: 13px;
}
.info-green {
  background-color: #519b60;
}
.info-black {
  background-color: #444;
}
.info-text {
  color: white;
}
.info-text-left {
  width: 15%;
  color: #ccc;
}
.info-text-right {
  width: 85%;
}

/* news */

.news {
  padding-top: 110px;
  padding-bottom: 110px;
}
.news-dl {
  display: flex;
  flex-wrap: wrap;
}
.news-dt,
.news-dd {
  padding: 20px 0;
  border-top: 0.5px solid #f6f5f3;
}
.news-dt:last-child,
.news-dd:last-child {
  border-bottom: 0.5px solid #f6f5f3;
}

/* dtの最後border-bottom効いてくれない */

.news-dt {
  width: 15%;
}
.news-dd {
  width: 85%;
}

/* contents */

.contents {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-bottom: 105px;
}
.content {
  position: relative;
  margin-bottom: 30px;
  width: 350px;
  height: 350px;
  border-radius: 30px;
  box-shadow: inset 0 0 100px rgba(0, 0, 0, 0.2),
    inset 0 0 200px rgba(0, 0, 0, 0.2);
  /* hover時の動作試行錯誤 */
  overflow: hidden;
}
<<<<<<< HEAD
=======
.content::after {
}
>>>>>>> 7277b815d355f6df3b0acb646b6bc79b5c0a9843
.content img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 30px;
}
.content-texts {
  position: absolute;
  bottom: 20%;
  left: 10%;
}
.content-title {
  color: white;
  font-size: 32px;
}
.content-text {
  color: white;
  font-size: 12px;
  font-weight: bold;
}
.content-span {
  font-size: 32px;
  color: #e60020;
  font-weight: bold;
}
.content:hover {
  background-color: #519b60;
  border-radius: 30px;
  transition: 0.3s;
  background-image: none;
}
/* ホバー時の動作指定したい */
.content-gallery:hover::after {
  content: '常設展・企画展
          緑豊かな環境の中で、約2倍の広さに生まれ変わるスヌーピーミュージアム。コミック「ピーナッツ」の美しい原画の企画展示をはじめ、作者チャールズ・シュルツや「ピーナッツ」について、そしてスヌーピーやチャーリー・ブラウンら個性豊かな登場人物たちについて、映像や立体物などを駆使した体験型の展示でご紹介します。';
}


.content-hover-texts {
  display: none;
}
.content-hover-texts:hover {
  display: static;
}

/* 画像を表示させたい */
.content-gallery {
  background: url("../img/img_contents_gallery_mb.jpg");
}
.content-online_museum {
  background: url("../img/img_contents_online_mb.jpg");
}
.content-store {
  background: url("../img/img_contents_store_mb.jpg");
}
.content-cafe {
  background: url("../img/img_contents_cafe_mb_2.jpg")center;
}
.content-workshop {
  background: url("../img/img_contents_workshop_mb.jpg")no-repeat;
}
.content-finding {
  background: url("../img/img_contents_app_mb.jpg") no-repeat;
}

/* to stick img of map */
.ticket_access {
  position: relative;
  padding-bottom: 105px;
}

/* ticket */

.ticket {
  padding: 100px 80px 200px 160px;
  background-color: #f6f5f3;
}
.ticket-gray {
  color: gray;
}
.ticket_shaped_container {
  background: white;
  display: flex;
  padding: 50px;
  border-radius: 30px;
}
.ticket-left {
  width: 30%;
}
.left {
  display: flex;
  /* flex-direction: column; */
  justify-content: space-between;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
}
.ticket-right {
  width: 70%;
}

/* access */

.access {
  padding-top: 485px;
  display: flex;
}
.access img {
  position: absolute;
  /* top: 29%; */
  top: 35%;
  left: 15%;
}
.access-left {
  width: 40%;
}
.access-right {
  width: 60%;
}
.access-dl {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 30px;
}
.access-dt {
  font-weight: bold;
  width: 20%;
}
.access-dd {
  width: 80%;
}
.access-link {
  color: #e18b9c;
  border-bottom: 1px solid #e18b9c;
}
.google_map {
  background-color: #e18b9c;
  display: inline-block;
  width: 170px;
  height: 150px;
  border-radius: 100px;
  align-items: center;
  text-align: center;
}

/* footer */

.footer {
  background-color: #f6f5f3;
  font-size: 12px;
  padding-top: 65px;
  padding-bottom: 70px;
}
.footer ul {
  display: flex;
  flex-wrap: wrap;
}
.footer li {
  margin-right: 30px;
}
small {
  font-size: 10px;
  color: #444;
}
